.client{
    /* font-weight: bold; */
    font-size: 30px;
    color: #193B2D
}
.t2{
    font-weight: bold;
    font-size: 30px;
    color: #193B2D 
}
.stores{
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
}