.contener{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.navigue{
    margin-top: 10px;
    margin-right: 50px;
}
nav{
    display: flex;
    gap:15px ;
    padding-right: -100px;
}
.menu{
    padding-top: 15px;
    font-size: 20px;
    color: #193B2D
}
.connect{
    border: 2px solid #2B9A66;
    color: white;
    background-color: #2B9A66;
    border-radius: 50px;
    font-size: 20px;
    padding-bottom: 5px;
}
.inscrip{
    border: 2px solid #ADDDC0;
    color: #218358;
    background-color: #ADDDC0;
    border-radius: 50px;
    font-size: 20px; 
    padding-bottom: 5px;
}