.cont{
    margin-top: 70px;
    margin-left: 20px;
}
.left{
    padding-top: 40px;
    font-weight: bold;
    font-size: 30px;
    color: #193B2D
}
.chef img{
    height: 33rem;
    padding-bottom: 10px;
}
